<%= form_for @ingredient, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amount, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :unit_name, :class => 'control-label' %>
    <div class="controls">
		<%= f.autocomplete_field :unit_name, autocomplete_unit_name_ingredients_path %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :food_name, :class => 'control-label' %>
    <div class="controls">
		<%= f.autocomplete_field :food_name, autocomplete_food_name_ingredients_path %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :recipe_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :recipe_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ingredients_path, :class => 'btn' %>
  </div>
<% end %>
