<%- model_class = Lunchplan -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div id="lunchplans">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @lunchplans_by_date[date] %>
      <ul>
        <% @lunchplans_by_date[date].each do |lunchplan| %>
          <li><%= link_to lunchplan.name, lunchplan %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>



<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:day) %></th>
      <th><%= model_class.human_attribute_name(:recipe_id) %></th>
      <th><%= model_class.human_attribute_name(:notes) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @lunchplans.each do |lunchplan| %>
      <tr>
        <td><%= link_to lunchplan.id, lunchplan_path(lunchplan) %></td>
        <td><%= lunchplan.day %></td>
        <td><%= lunchplan.recipe_id %></td>
        <td><%= lunchplan.notes %></td>
        <td><%=l lunchplan.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_lunchplan_path(lunchplan), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      lunchplan_path(lunchplan),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_lunchplan_path,
            :class => 'btn btn-primary' %>
