<p id="notice"><%= notice %></p>

<p>
  <b>Day:</b>
  <%= @lunchplan.day %>
</p>

<p>
  <b>Recipe:</b>
  <%= @lunchplan.recipe_id %>
</p>

<p>
  <b>Notes:</b>
  <%= @lunchplan.notes %>
</p>


<%= link_to 'Edit', edit_lunchplan_path(@lunchplan) %> |
<%= link_to 'Back', lunchplans_path %>
